<button (click)="deleteCompetition()">Delete Competition</button>

<h3>Edit Competition</h3>
<form [formGroup]="editCompetitionForm" (submit)="editCompetition()">
    <label>Name</label>
    <input formControlName="name">
    <label>Description</label>
    <input formControlName="description">
    <label>Scoring</label>
    <select formControlName="scoring">
        <option value="l2">L2</option>
    </select>
    <label>Solution</label>
    <textarea formControlName="solution"></textarea>
    <button [disabled]="!editCompetitionForm.valid">Save</button>
</form>
<h3>Admins</h3>
<ul>
    <li *ngFor="let admin of detail.competition?.admins">
        <span>{{admin}}</span>
        <button (click)="removeAdmin(admin)" [disabled]="detail.competition.admins.length < 2 || admin == detail.user.username">x</button>
    </li>
</ul>
<h4>Add Admin</h4>
<form [formGroup]="addAdminForm" (submit)="addAdmin()">
    <label>Username</label>
    <input formControlName="username">
    <button [disabled]="!addAdminForm.valid">Add</button>
</form>
<h3>Participants</h3>
<ul>
    <li *ngFor="let part of detail.competition?.participants">
        <span>{{part}}</span>
        <button (click)="removeParticipant(part)">x</button>
    </li>
</ul>
<h3>Submissions</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Created</th>
        <th>Scored</th>
        <th>Score</th>
        <th>Rescore</th>
        <th>Remove</th>
    </tr>
    <tr *ngFor="let sub of submissions">
        <td>{{sub._id}}</td>
        <td>{{sub.username}}</td>
        <td>{{sub.created}}</td>
        <td>{{sub.scored || '-'}}</td>
        <td>{{sub.score || '-'}}</td>
        <td><button (click)="scoreSubmission(sub._id)">score</button></td>
        <td><button (click)="removeSubmission(sub._id)">x</button></td>
    </tr>
</table>
