<h1>{{task.name}}</h1>
<p>{{task.shortDescription}}</p>
<h2>Description</h2>
<div [innerHtml]="(task.description | markdown)"></div>
<h2>Leaderboard</h2>
<div id="leaderboard-table">
    <table>
        <tr>
            <th>Score</th>
            <th>Team</th>
            <th>Date</th>
        </tr>
        <tr *ngFor="let sub of submissions | paginate: {id: 'leaderboard-pagination', itemsPerPage: 10, currentPage: leaderboardPage}">
            <td>{{sub.score || '-' | number:'1.0-5'}}</td>
            <td>{{sub.teamName}}</td>
            <td>{{sub.createdAt | date:"medium"}}</td>
        </tr>
        <tr *ngIf="submissions && submissions.length == 0">
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </table>
</div>
<pagination-controls id="leaderboard-pagination" (pageChange)="leaderboardPage = $event"></pagination-controls>
<h2>Your Team: {{team?.name}}</h2>
<h3>Members:</h3>
<p *ngIf="team">
<span *ngFor="let member of team.members">{{member}}&nbsp;</span>
</p>
<h2>Make a submission</h2>
<md-card id="new-submission-form">
    <div class="progress-indicator-overlay" *ngIf="submissionInProgress">
        <md-spinner></md-spinner>
    </div>
    <md-input placeholder="Comment" [(ngModel)]="comment"></md-input>
    <label>
        <span>File</span>
        <file-picker #fp></file-picker>
    </label>
    <button md-button (click)="createSubmission(fp)" [disabled]="!fp.file">Submit</button>
</md-card>
<h2>Your Submissions</h2>
<md-card *ngFor="let sub of ownSubmissions | paginate: {id: 'ownSubmissions-pagination', itemsPerPage: 10, currentPage: ownSubmissionsPage}">
    <md-card-subtitle>{{sub.createdAt | date:"medium"}}</md-card-subtitle>
    <md-card-title>{{sub.filename || '(unnamed)'}}</md-card-title>
    <md-card-content>
        <h4>Comment</h4>
        <p>{{sub.comment || '-'}}</p>
        <h4>Score</h4>
        <p>{{sub.score || '-'}}</p>
    </md-card-content>
</md-card>
<pagination-controls id="ownSubmissions-pagination" (pageChange)="ownSubmissionsPage = $event"></pagination-controls>
